@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #0a192f;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_Title {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin: 7px 72px;

}
.nav_Title:hover{
    text-shadow: 1px 1px 5px rgb(252, 205, 18);
}

nav ul {
    display: flex;
    position: absolute;
    right: 100px;
}

nav li {
    list-style: none;

}

.nav_List {
    text-decoration: none;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0px 18px;
    font-size: 19px;
    transition: color .2s linear;
}

.resume_Btn {
    color: white;
    background: none;
    margin-right: 22px;
    padding: 6px 8px;
    border: 2px solid rgb(252, 205, 18);
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 4px  rgb(252, 205, 18) ;

}

.nav_List:hover {
    color: rgb(252, 205, 18);
}

/* Intro */

.intro_Container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 75vh;
    margin-left: 16%;
    padding-top: 8%;
   
}

.intro_Hi {
    color: white;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;

}

.intro_Title {
    color: white;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;

}

.auto_Input{
    color: rgb(252, 205, 18);
}

.intro_Para {
    color: white;
    font-family: 'Alegreya Sans', sans-serif;

}

/* about  */

.about_Container{
    max-width: 100vw;
    height: 84vh;
    margin-left: 15%;
    padding-top: 8%;
}

.about_Title{
    color: rgb(252, 205, 18);
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 4px;

}
.about_Title::after{
    content:" ";
    height: 1px;
    width: 270px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -10px;

}
.about_Content{
    display: flex;
}
.about_Left_Content{
    font-family: 'Alegreya Sans', sans-serif;
    padding: 10px;
    font-size: 1.1rem;
    color: white;
}
.about_Container ul{
    display: inline-block;
    list-style-position: inside;
    list-style-type: square;
    
}
.about_Container ul li{
padding-bottom: 4px;

}
.about_img{
    width: 275px;
    border: 4px solid white;
    border-radius: 160px;
    margin-right: 296px;    
    margin-left: 109px;
}

/* work  */

.work_Container{
    max-width: 100vw;
    height: 85vh;
    margin-left: 15%;
    padding-top: 7%;
}
.work_Title{
    color: rgb(252, 205, 18);
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    display: inline-block;

}
.work_Title::after{
    content:"";
    height: 1px;
    width: 270px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -10px;
}
.work_Content{
    display:flex;
}
.work_Img{
    background: url(../img/snake_Game.png)no-repeat center center/cover;
    width: 621px;
    height: 300px;
    border-radius: 3px;
    margin-top: 20px;
    z-index: -1;
   
}
.work_Img::before{
    content: "Snake-Game";
    position: relative;
    display: inline-block;
    color: #ccd6f6;
    font-family: 'Oswald', sans-serif;
    font-size: 2.1rem;
    left: 123%;
    top: 50%;
   
}
.work_Img::after{
    content: "A Web Snake-Game that is made for fun.I made this project using CodeWithHarry tutorial, and i fix some bug that making problem in the Game.";
    width: 257px;   
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: #112240;
    color: #8892b0;
    left: 72%;
    top: 80%;
    font-family: 'Alegreya Sans', sans-serif;
    padding-left: 40px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;

}
.work_Img:hover::after{
    box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);
}

/* contact  */

.contact_Container{
    max-width: 100vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact_Title{
    color: rgb(252, 205, 18);
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;

}
.contact_Title::before{
    content:"";
    height: 1px;
    width: 100px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -10px;
    right: 10px;
}
.contact_Title::after{
    content:"";
    height: 1px;
    width: 100px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 10px;
}
.contact_Para{
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    width: 39vw;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.4;
}
.contact_Email{
  color: #a8b2d1;
  margin-top: 10px;
  
}
.contact_Email::before{
    content:"";
    height: 1px;
    width: 70px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -4px;
    right: 10px;
}
.contact_Email::after{
    content:"";
    height: 1px;
    width: 70px;
    background: white ;
    display: inline-block;
    position: relative;
    top: -4px;
    left: 10px;
}

